<!-- Class Binding -->
<h1 [class.text-red]="bool">Angular Appp</h1>

<!-- Style Binding -->
<P [style.color]="bool?'red':'blue'">This is my Style</P>
<!-- String Interpolation -->
<p>{{message}}</p>
<!-- Property Binding -->

<img alt="Image" width="200"    src="{{imgUrl}}" style="margin-right: 2px;">

<img alt="Image" width="200"  [src]="imgUrl">

<!-- Event Binding -->
<br>
<button (click)="buttonClick()">Click Me</button>
<br>
<h2>Event Filtaring</h2>

<input type="text"  placeholder="text me" (keyup.enter)="onKeyUp($event)">
<br>
<h2>Template Variable</h2>
<input type="text"  placeholder="text me" (keyup.enter)="onKeyUps(username.value)" #username>
<br>
<h2>Two way Data Binding</h2>
<input [(ngModel)]="fromMessage" (keyup.enter)="onKeyUpss()">
<br>
<h2>one-way and Two-way data Binding</h2>
<input [value]="textValue"  (keyup.enter)="onKeyUpsss()" style="margin-bottom: 20px;">
<br>
<input [(ngModel)]="textValue"   (keyup.enter)="onKeyUpsss()" style="width: 300px;">

<!-- data binding event -->
<app-databindingevent></app-databindingevent>
<!-- Angular Directives -->
<app-angulardirectives></app-angulardirectives>

<app-user-details-form></app-user-details-form>


<!-- ANGULAR_PIPES -->

<app-angular-pipes></app-angular-pipes>


<!--Angular Services-->
<app-angular-services></app-angular-services>

<!-- One-Way Data Binding
#String INterpolation - {{title}}
#Property Binding - [src]
#Class Binding -[class.text-red]
#Style Binding - [style.backgroundColor]

Two-Way Data Bubdubg
#Two-Way Binding - [{ngModel}] -->
