
<div style="text-align: center;">
  <div>
    <button class="btn btn-primary  mb-5 mt-5" routerLink="/" routerLinkActive="active">Home</button>
  </div>
  <button class="btn btn-primary btn-sm mb-5 mt-5" routerLink="/AngularreactiveformsComponent" routerLinkActive="active" >Angular Routing</button>
  &nbsp;
  <button class="btn btn-primary btn-sm mb-5 mt-5" routerLink="/PostListComponent" routerLinkActive="active" >PostListComponent</button>
  <router-outlet></router-outlet>
</div>
<p>7:21:01</p>




<!-- One-Way Data Binding
#String INterpolation - {{title}}
#Property Binding - [src]
#Class Binding -[class.text-red]
#Style Binding - [style.backgroundColor]

Two-Way Data Bubdubg
#Two-Way Binding - [{ngModel}] -->
