/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-area,
.form-after{
  margin-top: 50px;
  text-align: center;
}
.addBackground{
  background-color: yellow;
  padding: 5px;
}
